body {
    background-color: aqua;font-family: georgia;
}
h1 {
    font-family: comic sans ms;font-size: 60px;color: darkblue;
}
h4 {
    text-align: right;font-style: italic;
}
.a1 {
    color: white;
}
.a1:hover {
    color: red;
}
.a2:hover {
    background-color: blue;color: white;
}
.p1 {
    text-align: center;color: orange;
}
.p2 {
    text-align: center;
}