.container {
	width: 600px;
	background-color: white;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
}

body {
	font-family: Arial, sans-serif;
	color: black;
}

.header {
	background-color: #444;
	color: white;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.main {
	padding: 20px;
	background-color: lightgray;
}

.footer {
	background-color: black;
	padding: 10px;
	text-align: center;
	color: white;
}
