* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* header */
 .header {
    display: grid;
    grid-template-areas: 
    'hero hero feature-1'
    'hero hero feature-2';
 }

.hero{
    grid-area: hero;
    min-height: 300px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero > * {
    display: none;
}


.features {
     background-color: black;
     color: white;
     display: grid;
     place-content: center;
     text-align: center;
     cursor: pointer;
}


.feature-1 {
    grid-area: feature-1;
    background-image: url(img/1.jpg);
    background-size: cover;
}


.feature-2 {
    grid-area: feature-2;
    background-image: url(img/2.jpg);
    background-size: cover;
}

.feature .price {
    font-size: 3em;
    font-weight: 200;
}